@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 0;
    font-family: "Mulish", sans-serif;
}

:root {
    --loading-grey: #f5f5f5;

    --arrow-bg: rgba(74, 156, 224, 0.37);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9a/Caret_down_font_awesome.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.7);
}

h1, h2, h3, h4 {
    font-family: 'Old Standard TT', serif;
}

p {
    font-family: "Mulish", sans-serif;
}

.intro {
    background: #1D428A;
    color: white;          /* Makes text color white */
    font-family: Helvetica; 
    font-size: 20px;
    /* display: block; */
    /* Center this div */
    width: 100%;
    align-items: center;
    text-align: center;
}

.lead-tracker {
    fill: rgb(190, 95, 95);
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
}

#plotSkeleton {
    width: 85%;
    height: 80%;
    margin: 30px auto;
}

.loading {
    background-color: var(--loading-grey);
    background: linear-gradient(
            100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, .5) 50%,
            rgba(255, 255, 255, 0) 60%
    ) var(--loading-grey);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}

.graph-area {
    background: #f0f0f0;
    width: 100%;
    height: 1000px;
    display: block;

}

.graph-selectors {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    width: 85%;
    height: 750px;
    margin: auto;
    box-shadow: 0 3px 10px rgba(0,0,0,0.16);
    padding-bottom: 6rem;
    border-radius: 5px;
}

.description {
    margin-top: 5rem;
}


/* <select> styles */
select {
    /* Reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;

    /* Personalize */
    width: 20rem;
    padding: 0.6rem;
    background: var(--arrow-icon) no-repeat right 0.8em center/1.4em, linear-gradient(to left, var(--select-bg) 3em, var(--select-bg) 3em);
    color: #525252;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 1rem;
}
select::-ms-expand {
    display: none;
}
select:focus {
    outline: none;
}
select option {
    color: inherit;
    background-color: var(--option-bg);
}

#plotArea{
    width: 100%;
    margin: auto;
    text-align: center;
}

#checkbox {
    width: 100%; /* Ensures the container spans the full width of its parent */
    padding: 10px; /* Adds padding inside the container */
    box-sizing: border-box; /* Includes padding in the width and height calculations */
    display: flex; /* Uses flexbox layout for the children */
    justify-content: space-around; /* Distributes space around each item */
    align-items: center; /* Aligns items vertically in the center */
}

.checkbox-label {
    text-align: center; /* Centers the text inside the labels */
}

input[type="checkbox"] {
    vertical-align: middle; /* Aligns the checkbox vertically in the middle of the label */
}
