:root {
    --loading-grey: #ededed;
}

.lead-tracker {
    fill: rgb(190, 95, 95);
}

.checkbox-label {
    display: inline-block;
    width: 110px;
    margin-right: 5px;
    margin-left: 10px;
    font-size: 14px;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
}

#plotSkeleton {
    width: 1500px;
    height: 750px;
    margin: 30px auto;
}

.loading {
    background-color: var(--loading-grey);
    background: linear-gradient(
            100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, .5) 50%,
            rgba(255, 255, 255, 0) 60%
    ) var(--loading-grey);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}
